@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 62.5%;
    font-weight: 300;
    color: var(--cor-branca);
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-fundo-cinza-escuro);
    font-family: var(--fonte-primaria);
    font-size: var(--fonte-normal);
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.alinhar-itens-centro {
    align-items: center;
}

.redes-sociais a {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
    text-align: center;
    margin: 0 4px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.redes-sociais a:hover {
    color: var(--cor-primaria);
}

.redes-sociais a i {
    line-height: 40px;
}

.outer-shadow {
    box-shadow: 3px 3px #222327, -3px -3px 3px #454545;
}

.inner-shadow {
    box-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #454545;
}